<div class="clearfix">
  <img src="img/portrait.png" class="col-md-5">

  <p>
    Hi, I'm Kasper, a gameplay programmer currently studying at the Jamk University of Applied Sciences in Jyväskylä, Finland.
  </p>

  <p>
    I started my game development journey in 2020, and since then, I've found that I work best in a systematic and iterative way.
    Right now, I'm most comfortable with action-oriented games, but I enjoy working on all kinds of projects and the unique challenges that come with them.
  </p>

  
  <p>
    On the technical side, I am most familiar working with Unity and C#. I have some experience using Unreal & Godot as well, and of course, 
    I'm always up for learning new tools.
  </p>

  <p>
    In my free time, I like participating in game jams.
    As of now, I've submitted to over 15!
    I also like to experiment with fields outside of programming, like with art and audio. In addition to just being fun, 
    I think it helps me work better with everyone.
  </p>
  
  <p>
    I'm currently looking for an intership to finish my education, so if you're interested, feel free to reach out! Looking forward to hearing from you!
  </p>

  <br>

  <a href="mailto:kasper.bjorkgren@gmail.com" role="button" class="btn btn-primary btn-lg btn-block"><span class="fa fas fa-xl fa-envelope"></span> Send me an email</a>

  <a href="https://www.linkedin.com/in/kasper-bj%c3%b6rkgren-25b279279" role="button" class="btn btn-primary btn-lg btn-block"><span class="fa fab fa-xl fa-linkedin-square"></span> Connect on LinkedIn</a>
  
  <a href="https://github.com/kasperbc" role="button" class="btn btn-primary btn-lg btn-block"><span class="fa fab fa-xl fa-github"></span> See my GitHub</a>
</div>